body
{
	background-image: url("cu.jpg");
	background-size: cover;
	

}
.contactus
{
	float: right;
	text-align: center;
	border-color: #000033;
	border-radius: 30px;
	background-color: #FF9999;
	align-content: left;
	margin-top: 150px;
	margin-right: 100px;
}
ul
{
			list-style: none;
			margin: 0;
			padding: 0;
}
ul li
{
			background-color: red;
			width: 216px;
			float: left;
			line-height: 30px;
			height: 30px;
			border:2px solid black;
			text-align: center;
			border-radius: 5px;
			position: relative;
}
ul li ul li
{			background-color: #00CC66;
			width: 220px;
			float: center;
			line-height: 30px;
			height: 30px;
			display: none;
			border: 1px solid black;
			text-align: center;
			border-radius: 4px;
			position: relative;
			
}
ul li a
{
			text-decoration: none;
			color: yellow;

}
ul li a:hover
{			background-color: #E0E0E0;
			display: block;
			color: red;
			}
ul li:hover ul li
{
			display: block;
		
}
.footer
{
	background-image: url("ff.jpg");
	
	width: 1360px;
}
.img
{
	padding-left: 0px;
	float: left;
	padding-top: 15px;
}
.Home
{	
	
	float: left;
	padding-left: 100px;
	padding-top: 0px;

}

.contact
{	color: #FFCCCC;
	float: left;
	padding-left: 100px;
	
}
.FAQ
{			color: #FFCCCC;
			float: left;
			padding-left: 120px;
}
menu li a
{
	text-decoration: none;
	color: #FFCCCC;
}
menu li a:hover
{
	
	color: #330066;
}
menu li:hover
{
	color: #330066;	
}
p z:hover
{
	color: #330066;	
}
